/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

*dwsync.xml

public/arquigrafia-images/*
public/arquigrafia-avatars/*
public/arquigrafia-avatars-inst/*
public/img/project_photos/*
public/packages/darsain/*
public/arquigrafia-imports/*
app/storage/original-images/*
app/storage/views/*

node_modules/*

public/data/users.json
public/data/*

app/storage/logs/*
app/storage/sessions/*

public/profile/*
public/profile/placeholders/*
public/audios/*
