input[type=checkbox].covers,
input[type=checkbox].rm_photo,
input[type=checkbox].add_photo
{
	display:none;
}

input[type=checkbox].covers + label,
input[type=checkbox].rm_photo + label,
input[type=checkbox].add_photo + label
{
	height: 83px;
	width: 124px;
	display:inline-block;
	padding: 0px;
	margin: 2px;
	cursor: pointer;
	border: 1px solid #fff;
}

input[type=checkbox].add_photo + label {
	opacity: 0.5;
}

input[type=checkbox].rm_photo:checked + label {
	opacity: 0.5;
	/*border-color: #2E2E2E;*/
}

input[type=checkbox].add_photo:checked + label {
	opacity: 1;
}

h2 a { font-weight: normal; color: #555; }
.centered { text-align: center; }
.loader { display: block; margin: 195px auto 0}
#add-buttons p, #rm-buttons p { display: inline-block; margin: 0 5px;}
.buttons p { display: inline-block; margin: 0 5px;}
.greater-than { margin-right: 5px; }
.less-than { margin-left: 5px; }

#description { width: 20em; height: 7em; }


.covers + label, .ch_photo + label
{
	height: 83px;
	width: 124px;
	display:inline-block;
	padding: 0px;
	margin: 2px;
	cursor: pointer;
	border: 1px solid #fff;
}

.covers, .ch_photo
{
	display:none;
}

td.add .ch_photo + label {
	opacity: 0.5;
}

td.add .ch_photo:checked + label {
	opacity: 1;
	border-color: #2E2E2E;
}

td.rm .ch_photo:checked + label {
	opacity: 0.8;
	border-color: #2E2E2E;
}