/*.ui-tooltip {
	position: absolute;
	z-index: 9999;
	max-width: 300px;
}

.ui-tooltip-content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px;
	line-height: 16px;
	border-radius: 5px; 
	border: 1px solid;
}

.search_bar-info-theme .ui-tooltip-content {
	background: #FEEFB3;
	color: #9F6000;	
}

.img-theme .ui-tooltip-content {
	background: #FFF;
	color: #555;
}

.img-theme .ui-tooltip-content img {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
	max-width: 300px;
	max-height: 300px;
}

.img-theme .ui-tooltip-content p {
	max-width: 100%;
	margin-top: 5px;
	margin-bottom: 0;
	color: #555;
}*/

.search-bar-info-theme {
	/*border-radius: 5px; */
	border: 1px solid;
	background: #fff; /*#FEEFB3*/
	color: #9F6000;
}

.image-tooltip-theme {
	border-radius: 5px; 
	border: 1px solid;
	background: #fff;
}

.tooltipster-content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px;
	line-height: 16px;
}

.image-tooltip-theme .tooltipster-content p {
	max-width: 100%;
	margin-top: 5px;
	margin-bottom: 0;
	color: #555;
}

.image-tooltip-theme .tooltipster-content img {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
	max-width: 250px;
	max-height: 250px;
}