.custom-tooltip {
	border-radius: 5px; 
	border: 1px solid;
	background: #FEEFB3;
	color: #9F6000;
}

.custom-tooltip .tooltipster-content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 10px;
	line-height: 16px;
}