.text-core-new { height: 22px; margin-left: 160px }
.exm-width {width: 150px; height:24px; padding-left: 4px; padding-top: 3px; border:solid 1px #ccc}
.text-wrap-txt {width: 200px; height: 22px;}
.text-core-txt {height: 22px; margin-left: 160px}
