/*----- Tabs -----*/
.tabs {
  width:100%;
  display:inline-block;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

.tab-links li {
  margin:0px 5px;
  margin-left: 0px;
  float:left;
  list-style:none;
}
.tab-links a {
  padding:9px 15px;
  display:inline-block;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  font-size:16px;
  font-weight:600;
  color:#4c4c4c;
  transition:all linear 0.15s;
  outline: none;
  border: 1px solid #ddd;
  border-bottom: none;
}

.tab-links a:hover {
  border: 1px solid #777;
  border-bottom: none;
  text-decoration:none;
}
 
li.active a, li.active a:hover {
  background:#ffffee;
  color:#4c4c4c;
  border: 1px solid #999;
  border-bottom: #fff;
}

/*----- Content of Tabs -----*/
.tab-content {
  padding:15px;
  border-radius:3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0;
  margin-top: -1px;
  background:#fff;
  border-top: 1px solid #999;
  min-height: 300px;
}

.tab {
  display:none;
/*  overflow: hidden;*/
}

.tab.active {
  display:block;
}